
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    /*
      this property defines what 1rem is should be:
      >>>  rem unit measure / user agent default font-size = 10px / 16px = 0.625,
      this make possible to easily calculate the rems from the pixels, 
      e.g. body padding absolute value (30px) / 1rem (10px) = 3rem 
    */
    font-size: 62.5%;   // 1rem = 10px; 10px/16px = 62.5%

    @include respond('desktop-lg') {
        font-size: 75%; // 1rem = 12px; 12px/16px = 75%
    }

    @include respond('tab-landscape') {
        font-size: 56.3%; // 1rem = 9px; 9px/16px = 56.3%
    }

    @include respond('tab-portrait') {
        font-size: 50%; // 1rem = 8px; 8px/16px = 50% 
    }
    
}

body{   
    padding: 3rem;

    @include respond('tab-portrait') {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}